@model SevenSpikes.Nop.Plugins.UltimateCarousel.Models.CarouselItemModel

<div class="item-rating">&nbsp;</div>
<div class="item-text">@Html.Raw(Model.Description)</div>
<div class="item-user">@Model.Title</div>