/*=====================================================
    
    DESKTOP

=====================================================*/

@media all and (min-width: 1025px) {

    /* GLOBAL STYLES */

    .master-wrapper-content {
		
    }
	.master-column-wrapper {
		position: relative;
	}
	.center-2 .page-title {
		position: absolute;
		width: 100%;
		left: 0; top: 0;
		z-index: 99;
	}
    .master-wrapper-home .master-wrapper-content {
        margin-top: 60px;
    }

    .center-2 {
        float: right;
        width: 78%;
        margin: 0 0 80px;
		padding-top: 70px;
    }

    .side-2 {
        float: left;
        width: 20%;
        margin: 0 0 80px;
		padding-top: 60px;
    }
	
	.custom-section + .master-column-wrapper > div {
        padding-top: 0;
    }

    .inputs {
        text-align: left;
    }

	.inputs label {
	}

    .center-2 .inputs label {
    }

    .responsive-nav-wrapper-parent {
        display: none;
    }

    .menu-title, .close-menu,
    .header-menu .back-button {
        display: none;
    }

    .overlayOffCanvas {
        display: none !important;
    }

    .category-page .page-title,
    .account-page .page-title {
        position: absolute;
        top: 45px;
        right: 0;
        left: 0;
    }

    .link-rss {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    /* GLOBAL FORMS */

    .inputs .option-list {
        vertical-align: top;
    }

	.inputs .option-list li {
		float: none;
		margin: 10px 0;
	}

	.inputs .option-list li:first-child {
		margin-top: 0;
	}

    /* NOTIFICATIONS & POPUPS */
    /* HEADER */

    .header {
        position: relative;
        z-index: 1020;
        text-align: left;
        width: auto;
		box-shadow: 0 0 8px 4px rgba(0,0,0,0.1);
    }

	.admin-header-links {
		background: none;
		color: #fff;
	}
	.admin-header-links a,
	.admin-header-links span {
		margin: 0 0 0 20px;
	}
	
	.header-top-msg-wrap {
		float: left;
		padding: 0;
	}
	.header-top .header-phone {
		display: none;
	}

    .header-upper {
        padding: 5px 0;
		transition: all 0.2s ease;
    }
	.header.stick .header-upper {
        padding: 5px 0;
    }
	.header .header-logo .wrapper,
	.header span.search-box-text,
	.header .search-box-button,
	.header .header-phone {
		overflow: hidden;
		max-height: 60px;
		transition: all 0.2s ease;
	}
	.header .search-box form {
		transition: all 0.2s ease;
	}
	.header.stick .header-logo .wrapper,
	.header.stick span.search-box-text,
	.header.stick .search-box-button,
	.header.stick .header-phone {
		max-height: 0;
		overflow: hidden;
	}
	.header.stick .search-box form {
		border-width: 0;
	}
	
	.header-upper .header-phone {
		display: block;
		height: auto;
		line-height: normal;
		padding: 0;
		font-size: 32px;
		font-weight: 700;
		font-family: 'Roboto Slab', sans-serif;
	}
	.header-upper .header-phone .label {
		display: none;
	}

	.header-upper:after,
	.header-lower:after {
		content: "";
		display: block;
		clear: both;
	}
		
	.header-logo .wrapper {
		padding-left: 60px;
	}
	.header-logo h1 {
		font-size: 32px;
	}
	.header-logo h1 a:before {
		width: 48px;
		height: 27px;
	}

    .header-options-wrapper {
        max-width: 94%;
        margin: auto;
		/*padding: 0 20px;*/
    }

	.header-options-wrapper:after {
		content: "";
		display: block;
		clear: both;
	}

    .header-top .header-options {
		float: right;
	}

    .header-selectors-wrapper {
        float: left;
    }

	.header-selectors-wrapper > div {
		float: left;
		margin: 0 0 0 10px;
		font-size: 11px;
		text-transform: uppercase;
		color: rgba(255,255,255,0.6);
	}

	.header-selectors-wrapper > div:first-child {
		margin: 0;
	}

	.header-selectors-wrapper select {
		height: 30px;
		min-width: 45px;
		max-width: 55px;
		border: none;
		background-color: transparent;
		padding: 6px 6px 6px 0;
		font-size: 11px;
		color: rgba(255,255,255,0.6);
		text-transform: uppercase;
	}

    .tax-display-type-selector select {
        max-width: none !important;
    }

    .header-selectors-wrapper select:focus {
        color: rgba(255,255,255,1);
    }

    .new_select {
        background-image: url('../img/selector-button1.png');
    }

    .language-list a {
        height: 30px;
    }

    .store-search-box {
        position: relative;
        float: right;
    }

	.store-search-box form {
		border-color: rgba(255,255,255,0.2);
	}

	.store-search-box input.search-box-text {
		border: none;
	}

	.store-search-box .search-box-button {
		
	}

    .ui-autocomplete {
        z-index: 1015; /*should be lower than header but equal or higher than header-menu*/
        width: 270px !important;
        text-align: left;
    }

    .header-lower {
        display: table;
        table-layout: fixed; /*Chrome and IE fix*/
		background-color: #2e2e2e;
		/*border-bottom: 5px solid #e73f39;*/
        margin: auto;
        padding: 20px 0;
    }

    .header-actions-wrapper {
        display: table-row;
    }

    .header-logo {
        display: table-cell;
        width: 20%;
        vertical-align: middle;
        text-align: left;
    }

    #headerMenuParent {
        display: table-cell;
        width: 65%;
        vertical-align: middle;
    }

    .header-menu {
        position: relative;
        z-index: 1010;
        text-align: left;
    }

	.header-menu > ul {
		font-size: 0;
		text-align: left;
		white-space: nowrap;
		/*overflow-x: hidden;*/
		max-width: 600px;
		margin-left: -5px;
	}

	.header-menu > ul > li {
		display: inline-block;
		position: relative;
		margin-right: 40px;
		vertical-align: middle;
	}

	.header-menu > ul > li > a,
	.header-menu > ul > li > span {
		display: block;
		position: relative;
		padding: 5px;
		font-size: 18px; /*reset zeroing*/
		text-transform: uppercase;
		font-weight: 700;
		cursor: pointer;
		box-shadow: 0 0 0 15px transparent;
		/*transition: all 0.1s ease;*/
	}

	/*.header-menu > ul > li > a:after {
		content: "";
		display: none;
		position: absolute;
		bottom: 0;
		left: 15px;
		width: 100%;
		height: 2px;
		background-color: #e73f39;
	}*/
	.header-menu > ul > li:hover {
		z-index: 100;
	}

	.header-menu > ul > li:hover > a {
		background-color: #090909;
		/*box-shadow: 0 0 0 15px #090909;*/
		box-shadow: 0 0 0 10px #090909;
		color: #fff !important;
	}
	
	.header-menu > ul > li > a:before,
	.header-menu > ul > li > a:after {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 15px;
	}
	.header-menu > ul > li > a:before {
		top: -15px;
	}
	.header-menu > ul > li > a:after {
		bottom: -15px;
	}

	.header-menu .sublist-wrap {
		display: none;
		position: absolute;
		left: -15px;
		min-width: 300px;
		padding-top: 15px;
	}

	.header-menu .sublist-wrap.active {
		display: block;
	}

    .header-menu .sublist {
		padding: 10px 0;
		background: #fff;
		box-shadow: 1px 1px 3px rgba(0,0,0,.25);
	}
	.header-menu .sublist li {
        position: relative;
    }

    .header-menu .sublist .back-button {
        display: none;
    }

    .header-menu .sublist li a {
        display: block;
        padding: 15px 20px;
        font-size: 16px;
		font-weight: 700;
    }
	.header-menu .sublist li a:after {
        content: "";
		position: absolute;
		top: 1px;
		right: 20px;
		bottom: -1px;
		margin: auto;
		width: 10px;
		height: 10px;
		background: #090909;
		border-radius: 50%;
	}
    .header-menu .sublist li:hover > a {
        color: #fff;
		background: #82d114;
    }
	.header-menu .sublist li:hover > a:after {
		background: #fff;
    }

    .header-menu .sublist-wrap .sublist-wrap {
        left: 100%;
    }

    .header-actions {
        display: table-cell;
        text-align: right;
        vertical-align: middle;
        font-size: 0;
		position: relative;
    }
	
	.header-links {
		display: inline-block;
		vertical-align: middle;
	}
	.header-links:before {
		content: "";
		display: inline-block;
		width: 32px;
		height: 32px;
		background: url('../img/user-button.png') no-repeat center;
	}
	.header-links > ul {
		display: none;
		min-width: 220px;
		position: absolute;
		z-index: 1030;
		background: #fff;
		right: 0;top: 99%;
		text-align: center;
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.086);
	}
	.header-links:hover > ul {
		display: block;
	}
	.header-links li {
		display: block;
		margin: 0;
		border-top: 1px solid #2b2b2b;
		padding: 10px;
	}
	.header-links li:first-child {
		border-top: none;
	}
	.header-actions > a {
		display: inline-block;
		width: 32px;
		height: 32px;
		vertical-align: middle;
	}

	.header-actions a.ico-wishlist {
		background: url('../img/wishlist-button-black.png') no-repeat center;
		margin: 0 3px;
	}

	.header-actions a.ico-cart {
		position: relative;
	}
	.header-actions a.ico-cart:before {
		background: url('../img/cart-button-black.png') no-repeat center;
	}
	
	.flyout-cart-wrapper {
		display: inline-block;
		height: 32px;
		vertical-align: middle;
	}
		
    .flyout-cart {
        position: absolute !important;
        top: 100%;
		right: -6px;
        z-index: 1030;
        width: 330px;
        border: none;
        /*box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);*/
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.086);
        background: #fff;
        transition: all 0.3s ease;
    }
	.flyout-cart-wrapper:hover .flyout-cart {
		display: block;
	}

    
    /*.flyout-cart-overlay {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1019;
	}
	.flyout-cart-overlay.move-left {
		display: block;
	}*/
    .flyout-cart.active {
        right: 0;
    }

    .mini-shopping-cart {
		position: relative;
		overflow: hidden;
	}

	.mini-shopping-cart a:hover {
		text-decoration: underline;
	}

	.mini-shopping-cart .count {
		position: relative;
		min-height: 40px;
		padding: 11px 40px 11px 20px;
		background-color: #82d114;
		text-align: left;
		font-size: 13px;
		color: #fff;
	}

	.mini-shopping-cart .count a {
		width: auto;
		height: auto;
		font-weight: bold;
	}

	.mini-shopping-cart .count .close {
		position: absolute;
		display: none;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		background: url('../img/flyout-cart-close-button.png') no-repeat center;
		cursor: pointer;
	}

	.mini-shopping-cart .items {
		max-height: calc(100vh - 335px);
		overflow: hidden;
	}

	.mini-shopping-cart .item {
		overflow: hidden;
		padding: 20px 20px 10px;
		max-width: 330px;
	}

	.mini-shopping-cart .picture {
		float: left;
		width: 100px;
		text-align: center;
		margin-right: 10px;
	}

	.mini-shopping-cart .picture a {
		display: block;
		position: relative;
		overflow: hidden;
	}

	.mini-shopping-cart .picture a:before {
		content: "";
		display: block;
		padding-top: 100%;
	}

	.mini-shopping-cart .picture img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		max-width: 100%;
	}

	.mini-shopping-cart .product {
		text-align: left;
		font-size: 13px;
	}

	.mini-shopping-cart .name {
		min-height: 100px;
		border-bottom: 1px solid #ddd;
		font-size: 14px;
		font-weight: bold;
	}

	.mini-shopping-cart .attributes {
		margin: 0;
		border: none;
		padding: 15px 0 0;
	}

	.mini-shopping-cart .price,
	.mini-shopping-cart .quantity {
		overflow: hidden;
	}
	.mini-shopping-cart .price span,
	.mini-shopping-cart .quantity span {
		color: inherit !important;
	}

	.mini-shopping-cart .price strong {
		font-size: 16px;
		font-weight: 700;
		color: #69b500;
		float: right;
	}

	.mini-shopping-cart .quantity strong {
		font-weight: 600;
		float: right;
	}

	.mini-shopping-cart .totals {
		padding: 20px;
		text-align: left;
		font-size: 16px;
		overflow: hidden;
	}
	.mini-shopping-cart .totals span {

	}
	.mini-shopping-cart .totals strong {
		color: #69b500;
		float: right;
	}

	.mini-shopping-cart .buttons {
		padding: 0 20px;
	}

	.mini-shopping-cart input[type="button"] {
		display: block;
		width: 100%;
		margin: 0 0 5px;
		border: none;
		background-color: #ff9f00;
		border-radius: 4px;
		padding: 13px 30px;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	.mini-shopping-cart input[type="button"]:hover {
		opacity: 0.9;
	}

    /* HEADER-2 */

    .header-2 .header-upper {
        background-color: #fff;
        /*padding: 28px 0 24px;*/
		padding: 25px 0 15px;
    }

    .header-2 .header-options-wrapper {
        display: table;
		width: 100%;
    }

    .header-2 .header-logo {
        width: 33.333%;
    }

    .header-2 .store-search-box {
        display: table-cell;
        float: none;
		width: 33.333%;
        vertical-align: middle;
		text-align: center;
    }
	.header-2 .store-search-box form {
		width: 350px;
		max-width: 100%;
		border: 2px solid #090909;
		border-radius: 5px;
	}
	.header-2 .store-search-box input.search-box-text {
		color: #666;
		float: right;
	}
	.header-2 .store-search-box .search-box-button {
		float: left;
		background: url("../img/search-button.png") center no-repeat;
	}

    .header-2 .header-upper .header-options {
        display: table-cell;
        width: 33.333%;
        float: none !important;
        vertical-align: middle;
        text-align: right;
    }

    .header-2 .header-selectors-wrapper {
        /*margin: 0 0 0 10px;*/
    }

	.header-2 .header-selectors-wrapper > div {
		border-bottom: 2px solid #eee;
		padding: 0 5px;
	}

    .header-2 .new_select {
        background-image: url('../img/selector-button2.png');
        color: #888;
    }
    /*testing*/
    .header-2 .header-selectors-wrapper .language-selector {
        border: none;
    }

	.header-2 .header-selectors-wrapper .language-selector .new_select {
		border-bottom: 2px solid #eee;
	}

    .header-2 .header-lower {
        display: block;
        width: auto;
        background: #eee !important;
		/*padding: 5px 0 15px;*/
		padding: 0 0 10px;
    }

    .header-2 .header-actions-wrapper {
        display: table;
        width: 100%;
		max-width: 94%;
		/*padding: 0 20px;*/
        margin: auto;
    }

    .header-2 .header-lower .header-logo,
    .header-2 .header-lower .search-box {
        display: none;
    }

    .header-2 #headerMenuParent {
        text-align: left;
    }

    /* FOOTER */

    .footer-upper,
    .footer-middle,
    .footer-lower {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-upper,
    .footer-middle,
    .footer-lower-center {
        width: 94%;
        margin: auto;
    }

    .footer-upper {
        padding: 0 20px 50px;
    }

    .social-sharing {
        height: 65px;
        max-width: 600px;
        margin: auto;
        background: url('../img/social-icons-holder-shadow.png') no-repeat center top;
    }

	.social-sharing li {
		margin: 0 4px;
		vertical-align: top;
		box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.4);
	}

    .footer-block {
        float: left;
        width: 25%;
        margin: 0 0 15px;
        border: none;
        padding: 0 15px;
        text-align: left;
    }

	/*.footer-block.footer-links {
		width: 22%;
	}
	.footer-block.newsletter-block {
		width: 30%;
	}*/

	.footer-block .title {
		margin: 0 0 15px;
		padding: 0 0 10px;
		cursor: auto;
		border-bottom: 1px solid #090909;
	}

	.footer-block .title + .list {
		display: block;
		margin: 0;
	}
	.footer-block:first-child .list p {
		padding-top: 12px;
	}
	.footer-block .title strong {
		padding: 0;
	}

	.footer-block .title strong:before,
	.footer-block .title strong:after {
		display: none;
	}

    .newsletter-description {
        padding: 20px 0 0;
    }

    .footer-lower-center {
        position: relative;
    }
    .google-reviews {
        display: flex;
        position: absolute;
        top: 5px;
        bottom: 0;
        left: 0px;
        margin: 0;
        padding: 0 !important;
    }

    /* FOOTER-2 */

    .footer-2 .footer-middle {
        padding: 20px 0;
		border: none;
    }

    .footer-2 .footer-block {
        margin: 0;
    }

    .footer-2 .newsletter-block {
        text-align: center;
    }

	.footer-2 .newsletter-block .title {

	}

	.footer-2 .newsletter-block .title strong {
		text-align: left;
	}
	.footer-2 .newsletter-block .newsletter:before {
		display: none !important;
	}
		
	.footer-block.newsletter-block .wrapper:before {
		margin-bottom: 8px;
	}

    .footer-2 .newsletter-email .options {
        text-align: left;
    }

    .footer-2 .social-sharing {
        background: none;
        text-align: left;
		top: 71px;
    }

	.footer-2 .social-sharing li {
		margin: 0;
		box-shadow: none;
	}

    
    /* LEFT/RIGHT COLUMN */

    .block {
        float: none;
        width: auto;
        margin: 0 0 30px;
    }

	.block .listbox {
		display: block;
	}

	.block .title {
		background: none;
		cursor: default;
	}

    .block-recently-viewed-products .list li > a {
        display: inline-block;
        padding-left: 10px;
    }

    .block .product-picture {
        display: inline-block;
        width: 25%;
        vertical-align: middle;
    }

	.block .product-picture img {
		display: block;
		max-width: 100%;
	}

    .block .product-name {
        display: inline-block;
        width: 72%;
        vertical-align: middle;
    }

    /* CATEGORY PAGE & GRIDS */

    .category-description,
    .manufacturer-description,
    .vendor-description {
        text-align: left;
    }

    .contact-vendor {
        text-align: left;
    }

    /*.home-page-category-grid .item-box {
        width: 32%;
        margin: 0 0 1% 1%;
    }

        .home-page-category-grid .item-box:nth-child(3n+1) {
            margin-left: 0;
        }

    .home-page-category-grid .title a:hover:after {
        content: "";
        position: absolute;
        top: 16px;
        right: 16px;
        bottom: 16px;
        left: 16px;
        border: 3px solid rgba(255,255,255,0.4);
    }

    .home-page-category-grid.hover-effect-2 .title a:hover:after {
        display: none;
    }

    .home-page-category-grid.hover-effect-2 .item-box:hover .title a span {
        bottom: 50%;
        margin-bottom: -30px;
    }

    .sub-category-grid .item-box:hover,
    .manufacturer-grid .item-box:hover {
        opacity: 0.9;
    }

    .product-grid .item-box,
    .manufacturer-grid .item-box,
    .vendor-grid .item-box {
        width: 33.33333%;
        margin: 0 0 25px;
        padding: 15px;
    }

    .manufacturer-grid .item-box {
        margin: 0 0 40px !important;
    }

        .manufacturer-grid .item-box .title,
        .vendor-grid .item-box .title {
            font-weight: normal;
        }

    .items-per-row-four .product-grid .item-box,
    .items-per-row-four .manufacturer-grid .item-box,
    .items-per-row-four .vendor-grid .item-box {
        width: 25%;
        margin: 0 0 35px;
        padding: 10px;
    }

	.items-per-row-four .product-grid .item-box:nth-child(3n+1),
	.items-per-row-four .manufacturer-grid .item-box:nth-child(3n+1),
	.items-per-row-four .vendor-grid .item-box:nth-child(3n+1) {
		clear: none;
	}

	.items-per-row-four .product-grid .item-box:nth-child(4n+1),
	.items-per-row-four .manufacturer-grid .item-box:nth-child(4n+1),
	.items-per-row-four .vendor-grid .item-box:nth-child(4n+1) {
		clear: both;
	}*/

    .product-grid .item-box input[type="button"] {
        width: 76%;
    }

    .product-grid .item-box input.add-to-wishlist-button {
        width: 24%;
    }

    .product-grid .item-box:hover,
    .manufacturer-grid .item-box:hover,
    .vendor-grid .item-box:hover {
        /*box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.12);*/
    }

    /*.home-page .product-grid .item-box {
        width: 25%;
    }

        .home-page .product-grid .item-box:nth-child(3n+1) {
            clear: none;
        }

        .home-page .product-grid .item-box:nth-child(4n+1) {
            clear: both;
        }*/

    .items-per-row-four .product-grid .item-box input[type="button"] {
        width: 73%;
    }

    .items-per-row-four .product-grid .item-box input.add-to-wishlist-button {
        width: 27%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    .items-per-row-four .product-grid .item-box .quick-view-button ~ input.add-to-wishlist-button {
        right: 23.4%;
        left: auto;
    }

    .items-per-row-four .product-grid .item-box .picture {
        position: relative;
    }

    /*.product-grid.also-purchased-products-grid .item-box,
    .product-grid.related-products-grid .item-box,
    .product-grid.cross-sells .item-box {
        width: 25%;
    }

        .product-grid.also-purchased-products-grid .item-box:nth-child(3n+1),
        .product-grid.related-products-grid .item-box:nth-child(3n+1),
        .product-grid.cross-sells .item-box:nth-child(3n+1) {
            clear: none;
        }

        .product-grid.also-purchased-products-grid .item-box:nth-child(4n+1),
        .product-grid.related-products-grid .item-box:nth-child(4n+1),
        .product-grid.cross-sells .item-box:nth-child(4n+1) {
            clear: both;
        }*/

    /* PRODUCT PAGE */

    .gallery {
        display: inline-block;
        max-width: 600px;
        vertical-align: top;
    }

        .gallery:after {
            content: "";
            display: block;
            overflow: hidden;
        }

        /*.gallery .picture {
            float: left;
            width: 600px;
            margin: 0;
        }

        .gallery .picture-thumbs {
            float: right;
            width: 150px;
            margin: 0 0 0 3px;
        }*/

		/*.gallery .picture-thumbs a {
			width: 25%;
			height: 150px;
		}*/
		/*.two-columns .gallery .picture-thumbs a {
			height: 113px;
		}*/
		
	.overview .product-price,
	.variant-overview .product-price {
		padding: 5px 15px 7px;
		font-size: 28px;
	}
	.overview .add-to-cart-button,
	.variant-overview .add-to-cart-button {
		font-size: 20px;
	}

    .product-variant-list {
        text-align: left;
    }

    .variant-picture {
        float: left;
    }

	.variant-picture + .variant-overview {
		width: auto;
		margin: 0 0 0 250px;
	}

    .ui-tabs.productTabs .ui-tabs-panel {
        padding: 30px 35px;
    }

    .ui-tabs .ui-tabs-panel .inputs label {
        width: 223px;
    }

    .two-columns .gallery {
        float: left;
    }

    .two-columns .overview {
        float: right;
        width: 380px;
        text-align: left;
    }
    .two-columns .overview .discontinued-product {
        position: absolute;
        left: 0;
        width: 452px;
        border-width: 0;
        background: rgba(255,255,255,0.85);
        z-index: 1000;
    }
    .two-columns .overview .product-reviews-overview {
        text-align: left;
    }

    .two-columns .customer-entered-price {
        padding: 10px 10px 10px 0;
    }

    .two-columns .gallery .picture {
        width: 452px;
    }

    /*.two-columns .picture-thumbs {
        width: 113px;
    }

    .two-columns .gallery .picture-thumbs li {
        height: 113px;
    }*/

    .two-columns .color-squares {
        text-align: left;
    }

    .two-columns .giftcard label {
        display: block;
        width: auto;
        margin: 0 0 5px;
        text-align: left;
    }

    /* REVIEW PAGE */
    /* WISHLIST & COMPARE LIST */

    .request-quote-form .inputs label {
        width: 250px;
    }

    .compare-products-page {
        overflow: hidden;
    }

        .compare-products-page .clear-list {
            position: absolute;
            top: 15px;
            right: 1%;
            width: auto;
        }

    .compare-products-table {
        display: table;
        width: 98%;
        margin: 12px auto;
    }

        .compare-products-table .full-description {
            display: none;
        }

    .compare-products-table-mobile {
        display: none;
    }

    .compare-products-page .button-2 {
        padding: 10px 30px;
    }

    /* TOPICS */
    /* CONTACT PAGE & EMAILaFRIEND */
    /* REGISTRATION, LOGIN, MY ACCOUNT */


.registration-page .inputs,
.login-page .inputs,
.account-page .inputs {
	margin: 0 0 15px;
}

.registration-page .form-fields,
.account-page .form-fields {
	overflow: hidden;
}

/*.registration-page .inputs,*/
.account-page .inputs {
	float: left;
	width: 48%;
	margin: 0 1% 15px;
}

.registration-page .button-1,
.customer-info-page .button-1,
.address-edit-page .button-1,
.change-password-page .button-1 {
	width: 100%;
}

.customer-pages-body
.master-wrapper-content {
	max-width: 1500px;
}
.customer-pages-body .center-2,
.customer-pages-body .side-2 {
	padding-top: 0;
}
.customer-pages-body .center-2 {
	width: 80%;
}
.customer-pages-body .side-2 {
	padding-top: 85px;
}

.gender span {
	display: inline-block;
	margin: 0;
	width: 49%;
	border: 1px solid #090909;
	border-radius: 4px;
}

.gender span:first-child {
	margin: 0 2% 0 0;
}

#check-availability-button {
	display: block;
	margin: 30px auto 0;
}

.login-page .customer-blocks {
	border-bottom: 1px solid #ddd;
}

.login-page .new-wrapper,
.login-page .returning-wrapper {
	background-color: #f6f6f6;
	border-radius: 5px;
	padding: 30px;
}

.login-page .new-wrapper {
	float: right;
	width: 49%;
}

.login-page .text {
	min-height: 195px;
}

.login-page .returning-wrapper {
	float: left;
	width: 49%;
}

.block-account-navigation a {
	border-radius: 4px 0 0 4px;
}

.account-page .title {
	text-align: left;
}

.account-page .master-wrapper-content {
	padding: 150px 0 0;
}

.account-page .inputs label {
	/*margin-right: 20px;*/
}

.account-page .date-of-birth select {
	/*max-width: 108px;*/
}

.address-list-page .info,
.order-list-page .info,
.return-request-list-page .details {
	max-width: none;
}

.order-list-page .table-wrapper {
	max-width: none;
}

.order-list-page .buttons {
	text-align: left;
}

.return-request-page label {
	width: 305px;
}

.avatar-page {
	text-align: left;
}

.avatar-page .message-error {
	text-align: left;
}

.avatar-page .fieldset {
	float: left;
	margin-right: 20px;
}

.avatar-page .buttons {
	text-align: left;
}


/* SHOPPING CART & CHECKOUT */

.shopping-cart-page .totals {
    float: right;
	width: 33%;
    max-width: 390px;
	margin: 40px 0 0;
}
.cart-collaterals,
.cart-collaterals-left {
    float: left;
	width: 66.66%;
	margin: 0;
}
.cart-collaterals .deals > div, 
.cart-collaterals .estimate-shipping {
    margin-top: 40px;
}
.cart-collaterals .deals > div + div {
    margin: 60px 0 30px;
}
.cart-collaterals > div {
    width: 390px;
    max-width: 50%;
    padding: 0 10px 0 0;
}
.cart-collaterals .deals {
	float: left;
	margin: 0;
}
.cart-collaterals .hint {
    margin: 0 auto;
}
.cart-collaterals .deals > div:first-child {
    margin-bottom: 20px;
}
.cart-collaterals .shipping {
	float: right;
	margin: 0;
}
.cart-collaterals .shipping .inputs {
    text-align: center;
}
.cart-collaterals .shipping .buttons {
	text-align: right;
}
.cart-collaterals .estimate-shipping label {
    display: block;
    text-align: left;
}
.cart-collaterals input[type="text"],
.cart-collaterals select {
    border-width: 0 0 2px;
}
.terms-of-service {
    text-align: left;
}
.terms-of-service > span {
    display: inline-block;
    width: 90%;
    margin-left: 10px;
    vertical-align: top;
}


/*.checkout-page .edit-address {
    margin: 0;
}
.checkout-page .edit-address input,
.checkout-page .edit-address select {
    border-width: 0 0 2px 0;
}
.new-billing-address .inputs label {
    display: inline-block;
    width: 238px;
    margin-right: 20px; 
    text-align: right;
}*/

/*.checkout-page .inputs {
	float: left;
	width: 48%;
	margin: 0 1% 15px;
}*/

.checkout-page .address-grid {
    display: block;
    max-width: none;
}
.checkout-page .address-item {
    max-width: 32%;
}
.checkout-page .address-item,
.checkout-page .address-item:nth-child(2n) {
    margin: 0 0 2% 2%;
}
.checkout-page .address-item:first-child {
    margin: 0 0 2%;
}
.checkout-page .address-item:nth-child(3n+1) {
    clear: both;
    margin: 0 0 2%;
}
.checkout-page .address-item:only-child {
    float: none;
    margin: 0 auto 20px !important;
}
/*.checkout-page .edit-address label {
	width: 238px;
    margin-right: 20px;
}
.checkout-page .opc .edit-address label {
	width: 295px;
}*/
.payment-logo {
    position: absolute;
    top: 10px;
    left: 44px;
}
.shipping-method .method-list li,
.payment-method .method-list li {
    text-align: left;
}
.new-billing-address .inputs .required {
    position: absolute;
}
.payment-method .method-list .payment-details label {
    margin: 0 0 0 70px;
}
.shipping-method .method-description {
    margin: 5px 0 0 22px;
}

/* SEARCH & SITEMAP */

.search-page-body .nopAjaxFilters7Spikes {
	margin-top: 10px;
}
.search-page .inputs.aligned {
    display: inline-block;
	max-width: calc(100% - 210px);
}
.basic-search .inputs.aligned {
	width: calc(100% - 210px);
	max-width: 430px;
}
.advanced-search .price-range input {
	height: 44px;
}

/* BLOG & NEWS */

.news-pages-body .side-2,
.blog-pages-body .side-2 {
    float: right;
}
.news-pages-body .center-2,
.blog-pages-body .center-2 {
    float: left;
}

.page.blog-page,
.page.news-list-page {
    text-align: left;
}
.blog-posts .post {
    margin: 0 0 20px;
    border-bottom: 2px solid #eee;
    padding: 10px 20px 20px;
}
.news-items .news-item {
    margin: 0 0 15px;
    border-bottom: 2px solid #eee;
    padding: 10px 20px 30px;
}
.blog-posts .post:last-child,
.news-items .news-item:last-child {
    border: none;
}

.post-title:after,
.news-title:after {
    margin: 10px 0 0;
}
.blog-posts .buttons { 
}
.news-items .buttons {
    text-align: left;
} 
.blog-posts .read-comments {
    position: relative;
	display: inline-block;
    line-height: 24px;   
}
/*.blog-posts .read-comments:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 13px;
    width: 2px;
    margin: auto;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #d9d9d9;
}*/
.blog-posts .read-more {
	display: block;
	width: 150px;
}

.page.news-item-page {
    text-align: left;
}
.blogpost-page .page-body,
.news-item-page .page-body {
    padding: 10px 20px;
}
.news-item-page .inputs:first-child label {
	display: inline-block;
    width: 141px;
}
.new-comment textarea {
	display: block;
	margin: auto;
}
.new-comment .title, 
.comment-list .title {
    text-align: left;
}
.new-comment .title strong::after, 
.comment-list .title strong::after {
    margin: 10px 0 0;
}
.news-list-homepage .news-item {
    border: none;
    padding: 0;
}



/* FORUM & PROFILE */

.forum-search-page .advanced-search .inputs label,
.forum-search-page .basic-search .inputs label {
	width: 305px;
}
.forum-edit-page label,
.private-message-send-page label {
	width: 304px;
}
.forum-edit-page .reversed > * {
    width: auto;
    margin: 0 3px;
}
.forum-edit-page .toolbar,
.private-message-send-page .toolbar {
	margin-left: 314px;
}
.forum-edit-page textarea,
.private-message-send-page textarea {
	width: 350px;
	height: 180px;
	margin-left: 314px;
}


}

@media all and (min-width: 1300px) {

.item-box {
	width: 15%; /*six per row*/
}
.item-box:nth-child(4n+1) {
	clear: none; /*revert the fourth item*/
	margin-left: 2%; /*revert the fourth item*/
}
.item-box:nth-child(6n+1) {
	clear: both;
	margin-left: 0;
}

.center-2 .item-box {
	width: 18.4%; /*five per row*/
}
.center-2 .item-box:nth-child(6n+1) {
	clear: none;
	margin-left: 2%; 
}
.center-2 .item-box:nth-child(5n+1) {
	clear: both;
	margin-left: 0;
}
.center-2 .item-box:first-child {
	margin-left: 0 !important;
}

/*.home-page-category-grid .item-box,
.home-page .product-grid .item-box,
.sub-category-grid .item-box {
    width: 19.2% !important;
    margin: 0 0 1% 1% !important;
	clear: none !important;
}
.home-page-category-grid .item-box:nth-child(5n+1),
.home-page .product-grid .item-box:nth-child(5n+1),
.sub-category-grid .item-box:nth-child(5n+1) {
	clear: both !important;
	margin-left: 0 !important;
}*/

.home-page-category-grid .item-box,
.sub-category-grid .item-box {
    width: 12.57%;
}
.home-page-category-grid .item-box:nth-child(4n+1),
.sub-category-grid .item-box:nth-child(4n+1),
.home-page-category-grid .item-box:nth-child(6n+1),
.sub-category-grid .item-box:nth-child(6n+1) {
	clear: none;
	margin-left: 2%;
}
.home-page-category-grid .item-box:nth-child(7n+1),
.sub-category-grid .item-box:nth-child(7n+1) {
	clear: both;
	margin-left: 0;
}

.gallery {
	float: left;
	width: 33%;
}
.overview {
	float: right;
	width: 64%;
}
.overview-left {
	width: 58%;
}
.overview-right {
	width: 38%;
}

.overview-middle > div {
	max-width: 58%;
}

.attributes .swatch-button {
	width: 190px;
}
.attributes .swatch-button a {
	padding: 10px 0;
    font-size: 16px;
}
.attributes .swatch-button a:before {
	margin: 0 12px 0 -6px;
}
.attributes .swatch-button ~ select {
	width: calc(100% - 200px);
}

}