@model Nop.Web.Models.Catalog.CategoryModel

@if (Model.FeaturedProducts.Count > 0)
{
    <div class="product-grid featured-product-grid">
        <div class="title">
            <strong>@T("Products.FeaturedProducts")</strong>
        </div>
        <div class="item-grid">
            @foreach (var item in Model.FeaturedProducts.Take(3))
            {
                <div class="item-box">
                    @Html.Partial("_ProductBox", item)
                </div>
            }
        </div>
    </div>
}