/* Old category table with its data. It is needed so that the Description1 field could be transfered. */

CREATE TABLE [dbo].[Nop_Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](400) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[TemplateID] [int] NOT NULL,
	[MetaKeywords] [nvarchar](400) NOT NULL,
	[MetaDescription] [nvarchar](4000) NOT NULL,
	[MetaTitle] [nvarchar](400) NOT NULL,
	[SEName] [nvarchar](100) NOT NULL,
	[ParentCategoryID] [int] NOT NULL,
	[PictureID] [int] NOT NULL,
	[PageSize] [int] NOT NULL,
	[PriceRanges] [nvarchar](400) NOT NULL,
	[ShowOnHomePage] [bit] NOT NULL,
	[Published] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[Description2] [nvarchar](max) NULL,
 CONSTRAINT [PK_Nop_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Nop_Category] ON 

SET IDENTITY_INSERT [dbo].[Nop_Category] OFF
ALTER TABLE [dbo].[Nop_Category] ADD  CONSTRAINT [DF_Nop_Category_PageSize]  DEFAULT ((10)) FOR [PageSize]
GO
ALTER TABLE [dbo].[Nop_Category] ADD  CONSTRAINT [DF_Nop_Category_PriceRanges]  DEFAULT ('') FOR [PriceRanges]
GO
ALTER TABLE [dbo].[Nop_Category] ADD  CONSTRAINT [DF_Nop_Category_ShowOnHomePage]  DEFAULT ((0)) FOR [ShowOnHomePage]
GO

/* Transfer the description from the old table to the new one */
UPDATE m
SET Description2 = s.Description2
FROM dbo.Category AS m
INNER JOIN dbo.Nop_Category AS s ON s.CategoryId = m.Id

DROP TABLE dbo.Nop_Category